*appsettings*.json
.vs/
*.log
*.config
*Logs.txt
*Settings.json
*/wwwroot/*
*Dockerfile
*TestResult*
/OCR_API/uploaded_files/*
/OCR_API/Migrations/*
/OCR_API/bin/*
/OCR_API/obj/*
/UnitTests/bin/*
/UnitTests/obj/*
*.env*